body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-color: rgb(8, 8, 8); */
    background-color: white;
    color: black;
}

#title{
    font-size: 185px;
    padding-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    background: url(https://th.bing.com/th/id/R.a307130c5e4a5227a68effa95a31016f?rik=81VE1803q7q4Og&pid=ImgRaw&r=0);
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
   
}

#image{
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    display: block;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
}

#motto{
    font-size: 20px;
    text-align: center;
    color: black;
    /* background-color: silver; */

    font-weight: 500;
}

.title{
    /* margin: -10px -7px 0px -7px;  */
    color: black;
    display: block;
    /* background-image: url(https://vignette.wikia.nocookie.net/roalddahl/images/5/50/Wiki-background/revision/latest?cb=20160108213012); */
    
}

.center{
    margin: auto;
    padding: 12px;
    width: 90%;
}

#tribute-info{
    padding: 15px 150px 15px 150px;
}

#further-reading{
    padding: 15px 150px 15px 150px;
    font-size: 115%;
}

/* scrollbar */
::-webkit-scrollbar{
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-thumb{
    background: #70018f;
}

webkit-scrollbar-thumb:hover{
    background: #555;
}

a:link{
    color: black;
}
a:visited{
    color: #70018f;
}

#copyrights{
    padding-left: 30px; 
}

footer{
    font-size: 85%;
    background-color: #70018f;
    color: white;
    margin: 2px -7px -7px -7px;
    padding-bottom: 5px;

}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

#socials{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px 0px 0px 65px;
    display: grid;
    grid-template-columns: 0.25fr 0.25fr 0.25fr;
    grid-gap: 5px;
}

.fa{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

.fa:hover{
    opacity: 75%
}

.accounts:hover{
    opacity: 75%
}

.accounts a:link{
    text-decoration: none;
}
/* responsive resizing */

@media only screen and (max-width: 815px){
    #tribute-info{
        padding: 15px 50px 10px 50px;
    }

    #further-reading{
        padding: 10px 20px 15px 50px;
        font-size: 115%;
    }

    img{
        /* width: 384px;
        height: 216px;
        max-width: none; */
        width: 100%;
        height: auto;
        max-width: 100%;
        display: block;
    }

    #motto{
        font-size: 14px;
        margin: auto;
        padding: 0px 0px 0px 150px;
    }
    #socials{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 0px 0px 0px 10px;
        display: grid;
        grid-template-columns: 0.3fr 0.3fr 0.3fr;
        grid-gap: 5px;
    }
}





