*{
    font-family: "Urbanist", sans-serif;
}



body {
    font-size: 10px;
    background-color: orange;
    
    margin: 0;
    display: grid;
    height: auto;
    width: auto ;
    place-items: center;
    padding: 40px;
}


img{
    display: none;
    margin: none;
}

.nav-bar{
    display: flex;
    background-color: orange;
    /* text-decoration: none */
    text-transform: capitalize;
    color: antiquewhite;
    list-style-type: none;
    justify-content: flex-end ;
    width: 100%;
    height: fit-content;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 1.26em;
    width: 100%;
    background-color: black;

}
.nav-link{
    text-align: left;    
    padding: 30px;
    text-decoration: none;
}

.nav-link a{
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
}

.nav-link a:visited{
    color: white;
}

.nav-link a:active{
    color: white;
}

.nav-link a:hover{
    background-color: white;
    color: black;
}


.video{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    padding: 40px 30px 40px 30px;
}


.form-container{
    justify-content: center;
    display: flex;
}

@media only screen and (max-width: 800px){
    body{
        padding: 40px;
    }
}


.c-checkbox {
    display: none;

    &:checked + .c-formContainer {
        .c-form {
            width: 37.5em;
        }

        .c-form__toggle {
            visibility: hidden;
            opacity: 0;
            transform: scale(0.7);
        }

        .c-form__input,
        .c-form__buttonLabel {
            transition: 0.2s 0.1s;
            visibility: visible;
            opacity: 1;
            transform: scale(1);
        }
    }

    &:not(:checked),
    &:checked {
        + .c-formContainer .c-form__input:required:valid ~ .c-form__toggle::before {
            content: 'Subscribed! \2728';
        }
    }

    &:not(:checked) + .c-formContainer {
        .c-form__input:required:valid ~ .c-form__toggle {
            pointer-events: none;
            cursor: default;
        }
    }
}

.c-formContainer,
.c-form,
.c-form__toggle {
    width: 20em;
    height: 6.25em;
}

.c-formContainer {
    position: relative;
    font-weight: 700;
}

.c-form,
.c-form__toggle {
    position: absolute;
    border-radius: 6.25em;
    background-color: white;
    transition: 0.2s;
}

.c-form {
    left: 50%;
    transform: translateX(-50%);
    padding: 0.625em;
    box-sizing: border-box;
    box-shadow: 0 0.125em 0.3125em rgba(black, 0.3);

    display: flex;
    justify-content: center;
}

.c-form__toggle {
    color: orange;
    top: 0;
    cursor: pointer;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
        font-size: 1.75em;
        content: attr(data-title);
    }
}

.c-form__input,
.c-form__button {
    font: inherit;
    border: 0;
    outline: 0;
    border-radius: 5em;
    box-sizing: border-box;
}

.c-form__input,
.c-form__buttonLabel {
    font-size: 1.75em;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.7);
    transition: 0s;
}

.c-form__input {
    color: goldenrod;
    height: 100%;
    width: 100%;
    padding: 0 0.714em;

    &::placeholder {
        color: currentColor;
    }

    &:required:valid {
        color: orange;

        + .c-form__buttonLabel {
            color: white;

            &::before {
                pointer-events: initial;
            }
        }
    }
}

.c-form__buttonLabel {
    color: cornflower-lilac;
    height: 100%;
    width: auto;
    
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        pointer-events: none;
        cursor: pointer;
    }
}

.c-form__button {
    color: white;
    padding: 0;
    height: 100%;
    width: 5em;
    background-color: orange;
}
